.hero {
	width: 100%;
	height: 90vh;
	background-image: linear-gradient(to right,
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.7)),
		url(../../assets/todo-background.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__decription {
	font-size: 2.4rem;
	font-weight: 700;
	color: rgb(241, 239, 239);
	text-align: center;
	line-height: 2.6rem;
	letter-spacing: 0.5rem;
}

.hero__btnBox {
	margin-top: 5rem;
}

.hero__btn {
	text-decoration: none;
}

.hero__btn:first-of-type {
	margin-right: 2rem;
}