.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 1.6rem;
	margin-top: 4rem;
}

.form__input {
	display: block;
	width: 100%;
	padding: 0.7rem 1rem;
	margin-bottom: 1.5rem;
	border-radius: 0.3rem;
	border: 0.1rem solid rgb(94, 90, 90);
	color: rgb(34, 33, 33);
}

.form__input:last-of-type {
	margin-bottom: 1.5rem;
}

.form__input:focus {
	outline: none;
	border: 0.1rem solid #12704c;
	background: #01ca7d70;
}

.form__input.inValid {
	border: 0.1rem solid #f04343;
	background: #c972724d;
}

.form__input.inValid:focus {
	background: #c972724d;
}

.form__label {
	display: block;
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.form__textarea {
	width: 100%;
	height: 10rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.form__radio--box {}

.radio__title {
	font-size: 1.8rem;
	margin-right: 2rem;
}

.radio__box {
	display: inline-flex;
	align-items: center;
	margin-right: 2.5rem;
}

.radio__label {
	font-size: 1.6rem;
	margin-right: 1rem;
}

.form__btnBox {
	display: flex;
	justify-content: flex-end;
}

.form__button {
	font-size: 1.8rem;
	padding: 1rem 3rem;
	margin-right: 3rem;
	border: 0.2rem solid transparent;
}

.form__button:hover {
	border: 0.2rem solid #12704c;
	background: transparent;
	color: #12704c;
}