.todos {
	padding: 1rem;
	text-align: center;
	width: 100%;
	margin-top: 2rem;
}

.todos__card {
	max-width: 70rem;
	background: rgba(255, 255, 255, 0.9);
	margin: 0 auto;
}

.todos__list {
	list-style: none;
	padding: 1rem;
	width: 100%;
	max-height: 30rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.todos__list--item {
	padding: 0.5rem 2.5rem;
	width: 100%;
}
.todos__list--item:not(:last-child) {
	margin-bottom: 0.5rem;
}
.todos__filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	border-bottom: 0.1rem solid rgb(128, 121, 121);
	margin-bottom: 1rem;
}

/********************* Todo-Search ******************/

.todos__search {
	display: flex;
	flex-basis: 50%;
	margin: 0 auto;
	margin-right: 0.5rem !important;
	text-align: right;
	justify-content: flex-end;
	align-items: center;
}

.search__input {
	padding: 0.5rem;
	font-size: 1.6rem;
	background: #fff;
	border: 0.1rem solid #eee;
	border-radius: 0.5rem;
}
.search__input:focus {
	outline: none;
	background: rgb(241, 214, 195);
	border: 0.1rem solid orange;
}
.search__label {
	font-size: 1.6rem;
	text-align: center;
	margin-right: 1rem;
}
