.spinner {
	display: inline-block;
	width: 8rem;
	height: 8rem;
}


.spinner:after {
	content: ' ';
	display: block;
	width: 6.4rem;
	height: 6.4rem;
	margin: 0.8rem;
	border-radius: 50%;
	border: 0.6rem solid #12865a;
	border-color: #12865a transparent #12865a transparent;
	animation: spinner 1.2s linear infinite;
	z-index: 999;
}

.spinner.small::after {
	width: 2.4rem;
	height: 2.4rem;
}

.spinner.medium::after {
	width: 4.2rem;
	height: 4.2rem;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}